.row
  .col-lg-12
    .bs-component
      .jumbotron
        %h1 Know Things App
        %p Share knowledge about things in effective way
        %p
          = link_to 'Join now!', new_user_registration_path, class: 'btn btn-primary btn-lg'
