@import "bootstrap-sprockets";
@import "bootswatch/flatly/variables";
@import "bootstrap";
@import "bootswatch/flatly/bootswatch";
@import "select2";
@import "select2-bootstrap";

body {
  padding-top: 60px;
}

main {
  @extend .container;
  padding-bottom: 30px;
  width: 100%;
  margin-top: 30px;
  padding: 0;

  .container {
    padding-top: 50px;
    padding-left: 30px;
  }
}

.sub-categories>div {
  display: none;
}