// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question-before-badge {
  padding-right: 2em;
}

.message, .question {
  padding: 1em 1em 2em;
  border: 1px solid lightgray;
  margin-bottom: 1em;
}

.message {
  margin-left: 1em;
}

.message-info {
  float: right;
}