= form_tag(products_create_path, method: :post, class: 'js-add-product-form' ) do
  %button.btn.btn-large.btn-success{:type => "button", id: 'js_add_product'} +
  .js-product-selector
    %br
    = grouped_collection_select(:subcategory, :parent_id, @category, :subcategories, :name, :id, :name, {}, { class: 'subcategory_parent_id' } )
    %br
    .product_id
    %br

  .js-moar-products

  %br
  %button.btn.btn-large.btn-success{ type: "submit" } Save
