= form_tag(products_add_path, method: :post) do
  %button{:type => "button"} Cancel changes
  = grouped_collection_select(:subcategory, :parent_id, @category, :subcategories, :name, :id, :name)
  #product_id
